.layout-center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.lgd-container:has(.layout-center) {
  max-width: var(--measure);
}

.layout-center > * {
  width: 100%;
}