
.views-col:nth-child(2) {
    padding: 0 2rem;
}

/* Alert banners */

.localgov-alert-banner {
    margin-bottom: var(--spacing);
}

.localgov-alert-banner--major,
.localgov-alert-banner--announcement,
.localgov-alert-banner--minor {
    background: var(--color-white);
    border-width: 6px;
    border-style: solid;
}

.localgov-alert-banner--major {
    border-color: var(--alert-banner-bg-color-major);
}

.localgov-alert-banner--announcement {
    border-color: #3a7d64;
}

.localgov-alert-banner--announcement .localgov-alert-banner__close {
    border-color: var(--color-black);
}

.localgov-alert-banner--minor {
    border-color: var(--alert-banner-bg-color-minor);
}

.localgov-alert-banner--notable-person,
.localgov-alert-banner--notable-person .localgov-alert-banner__close {
    color: var(--color-white);
}

.localgov-alert-banner__actions {
    align-items: flex-start;
}

.localgov-alert-banner__close {
    font-weight: 400;
    font-size: 0.8rem;
}

.localgov-alert-banner .localgov-alert-banner__title {
    padding-bottom: 0;
    margin-bottom: 1rem;
}

.localgov-alert-banner .localgov-alert-banner__inner {
    background-position: 0 35px;
    background-repeat: no-repeat;
    background-size: 35px;
    padding-left: 3rem;
    padding-top: 2rem;
}

@media only screen and (min-width: 768px) {
    .localgov-alert-banner .localgov-alert-banner__inner {
        background-size: 45px;
        padding-left: 9rem;
    }
}

.localgov-alert-banner--major .localgov-alert-banner__inner {
    background-image: url('../assets/images/icons/icon_emergency_red.svg');
}

.localgov-alert-banner--announcement .localgov-alert-banner__inner {
    background-image: url('../assets/images/icons/icon_info_green.svg');
}

.localgov-alert-banner--minor .localgov-alert-banner__inner {
    background-image: url('../assets/images/icons/icon_warning_yellow.svg');
}

.localgov-alert-banner--notable-person .localgov-alert-banner__inner {
    background-image: url('../assets/images/icons/warning_white_round.svg');
}


/* Banner image and text block */

.banner--primary .banner__content {
    border: 1px solid var(--color-black);
    margin-top: -3rem;
}

.banner__image img {
    max-height: 350px;
}

@media only screen and (max-width: 768px) {
    .banner--primary .banner__content {
        padding: 2rem;
    }

    .banner--primary .field--name-localgov-title {
        font-size: 2rem;
    }

    .banner__image img {
        min-height: 250px;
    }
}


/* Header */

.lgd-header {
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
}

.lgd-header {
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
}

@media only screen and (min-width: 768px) {
    .lgd-header {
        padding-top: 3.5rem;
        padding-bottom: 2rem;
    }
}

.lgd-header__inner {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.lgd-header .lgd-region--header,
.lgd-header__toggles {
    margin: 0;
}

.lgd-header__toggle {
    color: var(--color-black);
    border-color: var(--color-black);
    margin-left: 3rem;
}

.lgd-header .branding {
    max-width: 300px;
}

.lgd-header__inner {
    justify-content: start;
}

/* Logo */

.branding__item--logo a {
    display: block; 
}

.branding__item--logo a:focus {
    box-shadow: 0 0 0 3px var(--color-black);
    outline: none;
}

.lgd-guide-nav .lgd-guide-nav__list-item > a {
    font-weight: 600;
}

.service-cta-block .service-cta-block__link--cta-info,
.service-cta-block .service-cta-block__link--cta-action {
    background-color: var(--btn-start-bg-color);
    border: 1px solid var(--btn-start-bg-color);
}

.service-cta-block .service-cta-block__link--cta-info,
.service-cta-block .service-cta-block__link--cta-action,
.button-start {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: inherit;
}

.button-start {
    display: inline-flex;
    align-items: center;
    padding: var(--btn-start-padding-vertical) var(--btn-start-padding-horizontal);
    text-decoration: none;
    color: var(--btn-start-color);
    border: var(--btn-start-border);
    border-color: var(--btn-start-border-color);
    background-color: var(--btn-start-bg-color);
    line-height: 1;
}

.button-start:after {
    position: relative;
    top: var(--btn-start-icon-top);
    margin-left: 0.5rem;
    content: var(--btn-start-icon);
    font-size: var(--btn-start-icon-size);
    line-height: 0;
    font-weight: 400;
}

.button-start:hover {
    color: var(--btn-start-color-hover);
    background-color: var(--btn-start-bg-color-hover);
}
  
.service-cta-block .service-cta-block__link:hover,
.service-cta-block .service-cta-block__link:focus {
    background-color: var(--color-white);
    color: var(--btn-start-bg-color);
    border-color: var(--btn-start-bg-color);
}
  
.service-cta-block .service-cta-block__link:hover .service-cta-block__link-icon svg path,
.service-cta-block .service-cta-block__link:focus .service-cta-block__link-icon svg path {
    fill: var(--btn-start-bg-color);
}
  
.service-statuses__label {
    color: var(--color-white);
    font-weight: 600;
}
  
.call-out-box__content h2 {
    color: var(--color-white);
}

.call-out-box__link {
    color: var(--color-link);
}
  
p.callout {
    font-weight: 600;
}
  
.callout.callout-primary {
    background-color: var(--color-black);
}
  
input[type="submit"],
.lgd-prev-next__list .lgd-prev-next__link {
    background-color: var(--color-black);
    border-color: var(--color-black);
}
  
.step-by-step-pages ol.step-list .step .step__title a {
    color: var(--color-link);
    display: inline-block;
    font-weight: 600;
}

.step-by-step-pages ol.step-list .step .step__title .step-show {
    display: block;
}

.banner--primary .field--name-localgov-title {
    font-weight: 600;
}

.service-landing-page__contact {
    background-color: var(--color-white);
}

.step-by-step-pages .step-master {
    color: var(--color-black);
}

.accordion-pane button {
    background-color: var(--color-link);
    border-color: var(--color-link);
}

.accordion-pane button:hover,
.accordion-pane button:focus {
    background-color: var(--color-white);
    color: var(--color-link);
}

.inset {
    background: #f5f5f5;
    border-left: 12px solid #dee0e2;
    padding: 1.625rem 7.5px;
    margin-bottom: 1.625rem;
    line-height: 1.625rem;
}

h1,
.field--type-text-long h2 {
    position: relative;
    margin-bottom: 2.5rem;
    padding-bottom: 0.5rem;
}

h1:after,
.field--type-text-long h2:after {
    content: '';
    background-color: var(--color-accent);
    width: 70px;
    height: 8px;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.service-landing-page__contact h2:after,
.localgov-alert-banner h2:after,
.call-out-box h2:after,
.service-landing-page__sidebar h2:after,
.media-with-text h2:after,
.service-statuses h2:after,
.sidebar h2:after {
    content: none;
}

/* Media with text component */
@media only screen and (max-width: 768px) {
    .media-with-text--media-left {
        flex-direction: column;
    }

    .media-with-text--media-right {
        flex-direction: column-reverse;
    }
}

.media-with-text__body {
    padding: 1.75rem;
}

.media-with-text__body {
    padding: 1.75rem;
}

.media-with-text--default .media-with-text__body {
    background-color: #c3d3e5;
}

.media-with-text--default .media-with-text__link {
    background-color: var(--color-white);
    padding: var(--spacing-smaller);
    display: inline-block;
    margin-top: var(--spacing-large);
}

.media-with-text--featured {
    position: relative;
    overflow: hidden;
    border: 0;
    padding: 4rem;
}

.media-with-text--featured .contextual-region {
    position: static;
}

.media-with-text--featured img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    object-fit: cover;
}

.media-with-text--featured .media-with-text__body {
    background-color: var(--color-white);
    position: relative;
    z-index: 10;
}

@media only screen and (min-width: 768px) {
    .media-with-text--featured .media-with-text__body {
        width: 40%;
    }
}
/* RESPONSIVENESS */

.lgd-page-section {
    margin-bottom: 1.5rem;
}

.lgd-page-section {
    padding-right: var(--spacing-padding-horizontal);
    padding-left: var(--spacing-padding-horizontal);
}


/* Three column layout responsiveness */

.layout--threecol-33-34-33 {
    justify-content: space-between;
}

.paragraph--type--page-section .layout--threecol-33-34-33 .layout__region--first,
.paragraph--type--page-section .layout--threecol-33-34-33 .layout__region--second, 
.paragraph--type--page-section .layout--threecol-33-34-33 .layout__region--third {
    padding: 0;
}

.paragraph--type--page-section .layout--threecol-33-34-33 .layout__region {
    margin-bottom: var(--spacing-larger);
}

@media only screen and (min-width: 640px) {
    .layout--threecol-33-34-33 > .layout__region--first,
    .layout--threecol-33-34-33 > .layout__region--second,
    .layout--threecol-33-34-33 > .layout__region--third {
        flex: 0 1 31%;
    }
}

/* Guide navigation */
@media only screen and (min-width: 768px) {
    .lgd-guide-nav__list-item {
        margin-right: var(--spacing-large);
    }
}

/* Newsroom teaser */
.newsroom-teaser img {
    width: 100%;
}
