.eu-cookie-compliance-categories input[type="checkbox"] {
    position:relative;
    display: none!important;
}

[class^="eu-cookie-compliance-categories"] {
    position: relative;
    min-height: 3rem;
    display: inline-block;
    margin: 1rem 1rem 1rem 0
}

[class^="eu-cookie-compliance-categories"] input:checked {
    background-color: var(--color-accent)!important;
}

[class^="eu-cookie-compliance-categories"] label {
    margin-left: var(--spacing-mega);
    margin-top: var(--spacing-smaller);
    font-weight: 700
}

[class^="eu-cookie-compliance-categories"] input {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var( --color-white);
    border-radius: 50%;
    border: .063rem solid var(--color-accent)!important;
    margin: 0!important;
    min-width: 40px;
    width: 2.5rem;
    min-height: 40px;
    height: 2.5rem;
}

[class^="eu-cookie-compliance-categories"] input:checked~input {
    background-color: var( --color-white)
}

[class^="eu-cookie-compliance-categories"] input:after {
    content: "";
    position: absolute;
    display: none
}

[class^="eu-cookie-compliance-categories"] input:checked~input:after {
    display: block !important
}


[class^="eu-cookie-compliance-categories"] input:after,
[class^="eu-cookie-compliance-categories"] input:hover~input:after {
    border-radius: 50%;
    background: var(--color-accent);
    top: 12px;
    top: .75rem;
    left: 12px;
    left: .75rem;
    width: 14px;
    width: .875rem;
    height: 14px;
    height: .875rem
}
