/*
  @TODO remove this CSS when
  https://github.com/localgovdrupal/localgov_base/issues/518
  is resolved.
*/
.region-tabs {
  position: sticky;
  top: var(--drupal-displace-offset-top, 53px);
  z-index: 100;
}
/* End @TODO */