.featured-teasers__teasers {
  --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--spacing);
}

@media screen and (min-width: 768px) {
  .featured-teasers__teasers {
    --columns: 3;
  }
}