/* .lgd-page-section {
  --arc-height: 200px;
} */

.lgd-page-section--regions-margin-small .layout {
  gap: var(--spacing-small);
}
.lgd-page-section--regions-margin-medium .layout {
  gap: var(--spacing);
}
.lgd-page-section--regions-margin-large .layout {
  gap: var(--spacing-large);
}
.lgd-page-section--regions-margin-larger .layout {
  gap: var(--spacing-larger);
}
.lgd-page-section--regions-margin-largest .layout {
  gap: var(--spacing-largest);
}

.lgd-page-section--margin-after-small {
  margin-bottom: var(--spacing-small);
}
.lgd-page-section--margin-after-medium {
  margin-bottom: var(--spacing);
}
.lgd-page-section--margin-after-large {
  margin-bottom: var(--spacing-large);
}
.lgd-page-section--margin-after-larger {
  margin-bottom: var(--spacing-larger);
}
.lgd-page-section--margin-after-largest {
  margin-bottom: var(--spacing-largest);
}

.layout--threecol-33-34-33,
.layout--twocol {
  display: grid;
}

@media screen and (min-width: 40em) {
  .layout--threecol-33-34-33 {
    grid-template-columns: repeat(3, 1fr);
  }
  .layout--twocol {
    grid-template-columns: repeat(2, 1fr);
  }
}

.lgd-page-section--bg-colour-4 {
  background-color: var(--color-tint-1);
}

.lgd-page-section--bg-colour-5 {
  background-color: var(--color-tint-2);
}

.lgd-page-section--arc-top,
.lgd-page-section--arc-bottom {
  --arc-height: 120px;
  position: relative;
}

.lgd-page-section--arc-top {
  margin-top: var(--arc-height);
}

.lgd-page-section--arc-top::before {
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: inherit;
  width: 100%;
  height: var(--arc-height);


}

.lgd-page-section--arc-bottom {
  margin-bottom: var(--arc-height);
}

.lgd-page-section--arc-bottom::after {
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  background-color: inherit;
  width: 100%;
  height: var(--arc-height);
}

/* Overrides for specific components when placed in page sections */
.lgd-page-section--has-bg-colour {
  .media-with-text,
  .media-with-text--default .media-with-text__body {
    background-color: var(--color-white);
  }
}